.link-item{
   padding: 10px;
   border: 1px solid;
   color: #000;
   text-decoration: none;
   display: block;
   width: 100%;
   font-size: 20px;
   font-weight: bold;
}

.link-wrap {
   display: flex;
   flex-direction: column;
   gap: 5px;
   
}